body{
  background-color:rgb(109, 22, 39);
	font-family: 'Montserrat', "sans-serif";
	color: white
}

img{
	width: 25px;
	height: 25px;
	display: inline;
	float:right;
	vertical-align: top;
	margin: 5px 2px 0 0;
}
