@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  background-color:rgb(140, 192, 198);
	font-family: 'Montserrat', "sans-serif";
	color:white;

}

img{
	display: inline;
	float: middle;
	vertical-align: top;
	margin: 5px 2px 0 0;
}


button{
height: 50px;
width: 100px;
font-size:15px;
background-color: white;
color: rgb(140, 192, 198);
border-width: 4px;
border-style: solid;
}
